.footer{
    background-color:$black;
    &__column{
        margin: 25px 0;
        @include from(m){
            margin: 50px 0;
        }
    }
    &__redes{
        img{
            margin:20px 15px;
            @include from(m){
                margin: 15px 20px 40px;
            }
    }
    }
    &__copy{
        text-align: center;
        background-color: $gray;
    }
}
