span{
    font-size: 14px;
}
ul li{
    list-style: none;
    font-size: 13px;
    @include from(l){
        font-size: 16px;
    }
}
h4{
    font-size: 15px;
    @include from(l){
        font-size: 17px;
    }
}
body{
    color:$gray;
    background-color: $black;
}
.bg-lt{
    color:$black;
}