//Colors
$black:  #000d1a ;
$bluelt :#728d9e;
$blue:  #172965 ;
$bluedk :#1033ae ;
$brown :#5c4031 ;
$grey: #c2a696 ;
$gray:  #d8d8d8;
$purple:#060844;
$red:#FF0031;
$green: #1c2c34;
$white:#ffffff;
//Fonts
$font-nm: 'Roboto';