.background{
    height: 100vh;
}

.movies{
    display: flex;
    flex-direction: column;

    &__content{
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1 1 0;
        min-height: 40vmin;
        overflow: hidden;
        border: 1px solid black;

        &__text{

        }
        &__previews{
            display: flex;
            height: 29vmin;
            white-space: nowrap;
            overflow-x: auto;
            &__item{
                position: relative;
                min-width: 29vmin;
                height: 100%;
                margin-right: 10px;
                padding: 0.4em;
                border: 1px solid black;

                &__image{
                    width: 100%;
                    height: 18vmin;
                    border: 1px solid black;
                }
                &__text{
                    overflow: hidden;
                }
            }
        }
    }
}

.active--modal{
    position: absolute;
    top: 0px;
    left: 100%;
    width: 200%;
    height: 200%;
    background-color: lightgreen;
}

.page-images{
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__item{
        flex: 1 1 0;
        border: 1px solid lightcoral;
    }
}

.modal-input{
    position: fixed;
    inset: calc(0% - -56px) 0 0 0;
    background-color: #032342;

    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__item{
            width: 39vmin;
            height: 28vmin;
            margin: 1px 11px 11px 1px;
            border: 4px solid white;        
        }
    }
}

.main:has(.active){
    max-height: 100vh;
}

